#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: auto;
}

.card {
  margin: 15px;
  transition: 0.4s;
}

.card:hover {
  cursor: pointer;
}

.card img{
    margin: 0;
}

.card.hidden img{
  visibility: hidden;
}

.card.hidden {
  background-image: url("img/card.jpg");
  transform: rotateY(180deg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card.finded {
  border: solid 3px green;
  opacity: 0.5;
}
